nav.navbar {
	background-color:#C91111;
}

.nome{
	color:#FFFFFF;
}

input.form-control {
	width:150px;
	height:35px;
}
h4.porcentagem {
	text-align:right;
}

div.row {
	padding:10px;
}

.imagem{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	overflow: hidden;
  position: relative;
}

p.candidato{
	text-align:right;
}
