div.col h1.nome{
	font-size: 40px;
}
div.col p.porcentagem{
	float: right;
	font-size: 30px;

}
div.col p.texto{
	font-size: 15px;
	padding: 20px;

}
div.col h2.text{
	padding: 25px;

}
div.col img.imagem{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
}
div.col h5.porcentagem{
	float: right;

}
div.col p.texto{
	float: right;


}
